In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [77]:
#load and read data
agrodata = pd.read_excel('Copy of Logistics Role Test Data.xlsx')
agrodata.head()

   Agrodealer_id       Date  Agrodealer Referrals County    Ward
0            473 2021-03-08                     0  Siaya  Ukwala
1            473 2021-03-09                     0  Siaya  Ukwala
2            473 2021-03-10                     0  Siaya  Ukwala
3            473 2021-03-11                     1  Siaya  Ukwala
4            473 2021-03-12                     0  Siaya  Ukwala

In [78]:
#set Date as index
agrodata.set_index('Date', inplace = True)
agrodata.head()

            Agrodealer_id  Agrodealer Referrals County    Ward
Date
2021-03-08            473                     0  Siaya  Ukwala
2021-03-09            473                     0  Siaya  Ukwala
2021-03-10            473                     0  Siaya  Ukwala
2021-03-11            473                     1  Siaya  Ukwala
2021-03-12            473                     0  Siaya  Ukwala

In [79]:
#Aggregate the data using aggrodealer_id and sum the referrals
top_10_dealers = agrodata.groupby('Agrodealer_id')['Agrodealer Referrals'].sum().reset_index()
top_10_dealers.set_index('Agrodealer_id', inplace = True)
top_10_dealers.head(10)

               Agrodealer Referrals
Agrodealer_id
473                              89
488                             145
503                             167
518                             205
533                              81
548                             146
563                             148
578                             201
593                              81
608                             140

In [80]:
#Arrange the data to get the top 10 dealers (question1)
top_10_dealers_sorted = top_10_dealers.sort_values(by='Agrodealer Referrals', ascending = False)
top_10_dealers_sorted.head(10)

               Agrodealer Referrals
Agrodealer_id
698                             267
758                             253
638                             231
518                             205
578                             201
623                             174
503                             167
668                             164
683                             164
728                             155

In [81]:
#Plot a bar graph for the top 10 dealers
top_10_dealers_sorted['Agrodealer_id'] = top_10_dealers_sorted['Agrodealer_id'].astype(str)
plt.bar(top_10_dealers_sorted['Agrodealer_id'], top_10_dealers_sorted['Agrodealer Referrals'])

plt.xlabel('Agrodealer_id')
plt.ylabel('Agrodealer Referrals')
plt.title('Top 10 Dealers')

plt.show()

KeyError: 'Agrodealer_id'

In [82]:
print(agrodata.columns)

Index(['Agrodealer_id', 'Agrodealer Referrals', 'County', 'Ward'], dtype='object')

In [83]:
print(agrodata.index)

DatetimeIndex(['2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11',
               '2021-03-12', '2021-03-13', '2021-03-14', '2021-03-15',
               '2021-03-16', '2021-03-17',
               ...
               '2021-06-04', '2021-06-05', '2021-06-06', '2021-06-07',
               '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11',
               '2021-06-12', '2021-06-13'],
              dtype='datetime64[ns]', name='Date', length=2058, freq=None)

In [84]:
agrodata.reset_index(inplace=True)
agrodata.head()

        Date  Agrodealer_id  Agrodealer Referrals County    Ward
0 2021-03-08            473                     0  Siaya  Ukwala
1 2021-03-09            473                     0  Siaya  Ukwala
2 2021-03-10            473                     0  Siaya  Ukwala
3 2021-03-11            473                     1  Siaya  Ukwala
4 2021-03-12            473                     0  Siaya  Ukwala

In [85]:
#convert the days to weeks
agrodata['Date'] = pd.to_datetime(agrodata['Date'])
agrodata['Week'] = agrodata['Date'].dt.isocalendar().week
agrodata.head()

        Date  Agrodealer_id  Agrodealer Referrals County    Ward  Week
0 2021-03-08            473                     0  Siaya  Ukwala    10
1 2021-03-09            473                     0  Siaya  Ukwala    10
2 2021-03-10            473                     0  Siaya  Ukwala    10
3 2021-03-11            473                     1  Siaya  Ukwala    10
4 2021-03-12            473                     0  Siaya  Ukwala    10

In [93]:
#Aggregate data using weeks and sort values from largest (question2)
best_weeks = agrodata.groupby('Week')['Agrodealer Referrals'].sum().reset_index()
best_weeks_sorted = best_weeks.sort_values(by = 'Agrodealer Referrals', ascending = False)
best_weeks_sorted.head(10)

    Week  Agrodealer Referrals
7     17                   422
6     16                   381
8     18                   379
5     15                   300
4     14                   282
9     19                   276
10    20                   275
3     13                   220
11    21                   190
2     12                   167

In [107]:
#Show weeks alongside the dates
week_dates = agrodata[['Week', 'Date']].drop_duplicates()
week_dates.head(20)

    Week       Date
0     10 2021-03-08
1     10 2021-03-09
2     10 2021-03-10
3     10 2021-03-11
4     10 2021-03-12
5     10 2021-03-13
6     10 2021-03-14
7     11 2021-03-15
8     11 2021-03-16
9     11 2021-03-17
10    11 2021-03-18
11    11 2021-03-19
12    11 2021-03-20
13    11 2021-03-21
14    12 2021-03-22
15    12 2021-03-23
16    12 2021-03-24
17    12 2021-03-25
18    12 2021-03-26
19    12 2021-03-27

In [106]:
agrodata.head()

        Date  Agrodealer_id  Agrodealer Referrals County    Ward  Week
0 2021-03-08            473                     0  Siaya  Ukwala    10
1 2021-03-09            473                     0  Siaya  Ukwala    10
2 2021-03-10            473                     0  Siaya  Ukwala    10
3 2021-03-11            473                     1  Siaya  Ukwala    10
4 2021-03-12            473                     0  Siaya  Ukwala    10

In [109]:
#The best day for referrals (question3)
best_day = agrodata.sort_values(by='Agrodealer Referrals', ascending = False)
best_day.head(10)

,Date,Agrodealer_id,Agrodealer Referrals,County,Ward,Week
1130,2021-04-29,638,16,Vihiga,Shamakhokho,17
354,2021-05-07,518,14,Kakamega,Isukha North,18
1812,2021-04-25,743,12,Siaya,Central Sakwa,16
1033,2021-04-30,623,12,Kakamega,Likuyani,17
1518,2021-04-25,698,12,Kakamega,South Kabras,16
1529,2021-05-06,698,11,Kakamega,South Kabras,18
1922,2021-05-07,758,10,Vihiga,Banja,18
1427,2021-05-02,683,10,Kakamega,Koyonzo,17
1915,2021-04-30,758,10,Vihiga,Banja,17
1523,2021-04-30,698,10,Kakamega,South Kabras,17