In [2]:
import pandas as pd
import numpy as np

In [3]:
agrodata = pd.read_excel('Copy of Logistics Role Test Data.xlsx')
agrodata.head()

   Agrodealer_id       Date  Agrodealer Referrals County    Ward
0            473 2021-03-08                     0  Siaya  Ukwala
1            473 2021-03-09                     0  Siaya  Ukwala
2            473 2021-03-10                     0  Siaya  Ukwala
3            473 2021-03-11                     1  Siaya  Ukwala
4            473 2021-03-12                     0  Siaya  Ukwala

In [4]:
agrodata.set_index('Date', inplace = True)
agrodata.head()

            Agrodealer_id  Agrodealer Referrals County    Ward
Date
2021-03-08            473                     0  Siaya  Ukwala
2021-03-09            473                     0  Siaya  Ukwala
2021-03-10            473                     0  Siaya  Ukwala
2021-03-11            473                     1  Siaya  Ukwala
2021-03-12            473                     0  Siaya  Ukwala

In [5]:
agrodata_sorted = agrodata.sort_values(by = 'Agrodealer Referrals', ascending = False)
agrodata_sorted.head(10)

            Agrodealer_id  Agrodealer Referrals    County           Ward
Date
2021-04-29            638                    16    Vihiga    Shamakhokho
2021-05-07            518                    14  Kakamega   Isukha North
2021-04-25            743                    12     Siaya  Central Sakwa
2021-04-30            623                    12  Kakamega       Likuyani
2021-04-25            698                    12  Kakamega   South Kabras
2021-05-06            698                    11  Kakamega   South Kabras
2021-05-07            758                    10    Vihiga          Banja
2021-05-02            683                    10  Kakamega        Koyonzo
2021-04-30            758                    10    Vihiga          Banja
2021-04-30            698                    10  Kakamega   South Kabras

In [6]:
agrodata.head()

            Agrodealer_id  Agrodealer Referrals County    Ward
Date
2021-03-08            473                     0  Siaya  Ukwala
2021-03-09            473                     0  Siaya  Ukwala
2021-03-10            473                     0  Siaya  Ukwala
2021-03-11            473                     1  Siaya  Ukwala
2021-03-12            473                     0  Siaya  Ukwala